/* .slider__card-image {
    background: url('./../../pics/batman.jpeg') no-repeat;
    height: 25rem;
    width: 37rem;
} */

/* .heroePictureBatman {
    background: url('./../../pics/batman.jpeg') no-repeat;
    height: 25rem;
    width: 37rem;
}

.heroePictureSuperman {
    background: url('./../../pics/superman.jpeg') no-repeat;
    height: 25rem;
    width: 37rem;
} */

/* после недели 23 - заменить ссылку, чтобы картинки менялись */